<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/champygnon.js"></script>
</head>

<body>
    <form>
        <h1>Formulaire ChamPygnon :</h1>

        <!-- put all 3 divs on the same line -->
        <div id="color">
            <div id="red">
                <label for="red-value">Red color value:</label>
                <input type="range" min="0" max="255" id="red-value" name="red-value" step="1" oninput="this.nextElementSibling.value = this.value" style="width:510px" />
                <output>127</output>
            </div>
            <div id="green">
                <label for="green-value">Green color value:</label>
                <input type="range" min="0" max="255" id="green-value" name="blue-value" oninput="this.nextElementSibling.value = this.value" style="width:510px" />
                <output>127</output>
            </div>
            <div id="blue">
                <label for="blue-value">Blue color value:</label>
                <input type="range" min="0" max="255" id="blue-value" name="green-value" oninput="this.nextElementSibling.value = this.value" style="width:510px" />
                <output>127</output>
            </div>
        </div>

        <div id="characteristics">
            <label for="shapeContainer">Choose a shape:</label>
            <div id="shapeContainer">

            </div>
            <label for="surfaceContainer">Choose a surface:</label>
            <div id="surfaceContainer">

            </div>
            <label for="selectmodel">Choose a car:</label>
            <select id="selectmodel" name="selectmodel">
                <option value="SVM">SVM</option>
                <option value="Tree">Arbre de décision</option>
            </select>
        </div>

        <div class="button">
            <button type="submit">Submit form</button>
        </div>
    </form>

</body>
</html>