<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire ChamPygnon</title>
</head>

<body>
    <h1>Formulaire ChamPygnon :</h1>
    <form action="/rep" method="post">
        <div id="color">
            <div id="red">
                <label for="red-value">Red color value:</label>
                <input type="range" min="0" max="255" id="red-value" name="red-value" step="1" oninput="this.nextElementSibling.value = this.value" style="width:510px" />
                <output>127</output>
            </div>
            <div id="green">
                <label for="green-value">Green color value:</label>
                <input type="range" min="0" max="255" id="green-value" name="blue-value" oninput="this.nextElementSibling.value = this.value" style="width:510px" />
                <output>127</output>
            </div>
            <div id="blue">
                <label for="blue-value">Blue color value:</label>
                <input type="range" min="0" max="255" id="blue-value" name="green-value" oninput="this.nextElementSibling.value = this.value" style="width:510px" />
                <output>127</output>
            </div>
        </div>

        <br>

        <label for="shapeContainer">Choose a shape:</label>
        <div id="shapeContainer">
            <% shapes.forEach(shape => { %>
              <input type="radio" name="shape" value="<%= shape %>">
              <label><%= shape %></label>
            <% }); %>
        </div>

        <br>

        <label for="surfaceContainer">Choose a surface:</label>
        <div id="surfaceContainer">
            <% surfaces.forEach(surface => { %>
              <input type="radio" name="surface" value="<%= surface %>">
              <label><%= surface %></label>
            <% }); %>
        </div>

        <br>

        <label for="selectmodel">Choose a model:</label>
        <select id="selectmodel" name="selectmodel">
            <option value="SVM">SVM</option>
            <option value="Tree">Arbre de décision</option>
        </select>

        <div class="button">
            <button type="submit">Submit form</button>
        </div>
    </form>

</body>
</html>